# Иигнорировать виртуальные окружения
venv/
env/
*.venv
*.env

# Иигнорировать каталоги Python
__pycache__/
*.pyc
*.pyo

# Иигнорировать каталоги и файлы, связанные с pyenv
pyenv.cfg

# Иигнорировать каталоги и файлы, связанные с pip
pip-log.txt
pip-delete-this-directory.txt

# Иигнорировать каталоги и файлы, связанные с настройками IDE
.vscode/
.idea/

# Иигнорировать файлы, связанные с тестами
*.log
*.coverage
nosetests.xml
coverage.xml
*.hypothesis/

# Иигнорировать каталоги и файлы, связанные с системами сборки
dist/
build/
*.egg-info/

# Иигнорировать каталоги, связанные с установкой зависимостей
Lib/
Scripts/

# Иигнорировать кэшированные файлы
*.swp
*~
*.sublime-workspace
*.sublime-project

